body{
    font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;
}


.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    justify-content: space-between;
    

}
.middle-items ul li{
    text-decoration: none;
    display: inline;
    

}

.middle-items{
    display: flex;
    justify-content: space-evenly;

    width: 600px;
    padding-left: 30px;
    padding-right: 30px;

}

.hero-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 613px; 
    width: 1125px;
    margin: 243px 315px;
}